/* styles.css */

body {
    font-family: 'Courier New', Courier, monospace;
}

.page-banner {
    text-align: center;
    background-color: rgba(33, 82, 59, 0.66);
}

.page-title {
    background-color: rgba(183, 219, 232, 0.9);
}

.recipe-link {
    background-color: rgba(237, 190, 62, 0.66);
    font-size: 16px;
}